.grayed {
  opacity: 0.4;
}

.arrows {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-left: 4vw;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 50%;
  }
}

//mobile
@media only screen and (max-width: 500px) {
  .arrows {
    position: absolute;
    margin-top: 115vh;

    div {
      padding: 2vw;
      margin-right: 3vw;
      font-size: 2vh;
    }
  }
}

//desktop
@media only screen and (min-width: 769px) {
  .arrows {
    margin-top: 2vh;

    div {
      padding: 0.7vw;
      margin-right: 1vw;
      font-size: 1.7vh;
    }
  }
}
