//mobile
@media only screen and (max-width: 500px) {
  .DotContainer {
    position: absolute;
    bottom: 5%;
    right: 30%;

    .dot {
      width: 22px;
      height: 22px;
      opacity: 0.4;
    }

    .chosen {
      opacity: 1;
    }
  }
}

//desktop
@media only screen and (min-width: 769px) {
  .DotContainer {
    display: none;
  }
}
