@import "../../App.scss";

.blockContent {
  h3 {
    color: $firstYearColor;
  }
  p {
    color: $textColor;
  }
}

//mobile
@media only screen and (max-width: 500px) {
  .blockContent {
    margin-left: 20px;
    p {
      margin-top: 20px;
      width: 50vw;
      opacity: 0.8;
    }
  }
}

//desktop
@media only screen and (min-width: 769px) {
  .blockContent {
    h3 {
      font-size: 2.5vh;
    }
    p {
      margin-top: 1.5vh;
      opacity: 0.7;
      width: 14vw;
    }
  }
}
