@import "../../App.scss";

.pages {
  color: rgba(1, 20, 85, 0.7);
}

//mobile
@media only screen and (max-width: 500px) {
  .pages {
    position: absolute;
    margin-left: 5vw;
    margin-top: 50vh;
  }
}

//desktop
@media only screen and (min-width: 769px) {
  .pages {
    margin-left: 4vw;
    margin-top: 11vh;
    font-size: 2vh;
  }
}
