@import '../../App.scss';

//mobile
@media only screen and (max-width: 500px){
  .title {
    font-size: 20px;
    width: 10px;
    margin-left: 20px;
    margin-top: 35px;
    color: rgb(4, 3, 104);
    font-weight:800;
  }
  
  .flex {
    display: flex
  }
}

.title {
  font-size: 20px;
  width: 10px;
  margin-left: 20px;
  margin-top: 35px;
  color: $textColor;
  font-weight:800;
}

.flex {
  display: flex
}


.secondaryContainer {
  border: 1px solid rgba(0,0,0,0.1);
  height: 100vh;
  width: 70vw;
  position: relative;
}

.mainContainer {
  display:flex;
  align-items: center;
  justify-content: center;
}

.spacer2 {
  opacity: 0.3;
  transform: rotate(90deg) translate(3%, 1vh);
  position:relative;
  z-index: 1000;
}

.spacer3 {
  opacity: 0.3;
  transform: translate(0, 19vh);
  position:relative;
  z-index: 1000
}

.circle {
  width: 30rem;
  height: 30rem;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 50%;
  position: absolute;
  transform: translate(22.4vw, -2.5vw);
  z-index:1000;
  background: rgba(255, 255, 255, 0.001)
}
