.title {
  font-size: 20px;
  width: 10px;
  margin-left: 20px;
  margin-top: 35px;
  color: rgb(4, 3, 104);
  font-weight:800;
}

.spacer {
  margin: 40px 20px 0 20px;
  opacity: 0.3;
  border: 0.1px solid gray
}

.flex {
  display: flex
}
