//mobile
@media only screen and (max-width: 500px){
  .caption {
    font-size: 19px;
    width: 10px;
    margin-left: 20px;
    margin-top: 70px;
    color: rgb(3, 1, 70);
    font-weight:800;
  }
}

.caption {
  font-size: 19px;
  width: 10px;
  margin-left: 20px;
  margin-top: 70px;
  color: rgb(3, 1, 70);
  font-weight:800;
}