@import "../../App.scss";

.yearContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .first {
    color: $firstYearColor;
    flex: 1;
    cursor: default;
  }
  .second {
    color: $secondYearColor;
    flex: 1;
    cursor: default;
  }
}

//mobile
@media only screen and (max-width: 500px) {
  .yearContainer {
    height: 20vh;
    font-size: 32px;
    margin-top: 5vh;
    margin-left: 20px;
  }
}

//desktop
@media only screen and (min-width: 769px) {
  .yearContainer {
    width: 50vw;
    font-size: 9vh;
    margin-left: 11vw;
    margin-right: 11vw;
    transform: translate(0, 8vh);

    .first {
      z-index: 1000;
    }

    .second {
      margin-left: 5vw;
      z-index: 1000;
    }
  }
}
